@if(isVisible){
<div class="overlay">
  <div class="popup p-5">
    <h2 class="pb-2">
      {{ popUpId === 'pages' ? 'Número de pàgines' : 'Número d\'idiomes'}}
    </h2>
    <p>
      {{ popUpId === 'pages' ? 'Afegeix les pàgines que tindrà el seu projecte. El cost de cada pàgina és de 30€.' :
      'Afegeix els idiomes que tindrà el seu projecte. El cost de cada idioma és de 30€.'}}
    </p>
    <button type="button" class="close-btn" (click)="closePopup()"><img src="assets/cerrar.png" width="20"></button>
  </div>
</div>
}