<div class="text-end">
  <span class="d-block mb-3">
    Nombre de pàgines <button type="button" class="border-0 bg-transparent" (click)="decreaseNumberPages()"><img
        src="assets/signo-menos.png" width="20"></button>
    <span class="border rounded px-3 py-1 fw-bold">
      {{numberPages}}
    </span>
    <button type="button" class="border-0 bg-transparent" (click)="increaseNumberPages()"><img src="assets/mas.png"
        width="20"></button>
  </span>
  <span class="d-block">
    Nombre d'idiomes <button type="button" class="border-0 bg-transparent" (click)="descreaseNumberLanguages()"><img
        src="assets/signo-menos.png" width="20"></button>
    <span class="border rounded px-3 py-1 fw-bold">
      {{numberLlanguages}}
    </span>
    <button type=" button" class="border-0 bg-transparent" (click)="increaseNumberLanguages()"><img src="assets/mas.png"
        width="20"></button>
  </span>
</div>