<div>
  <div>
    <span>
      Nombre de pàgines <button type="button" class="btn btn-primary w-auto m-1"
        (click)="decreaseNumberPages()">-</button> <span>
        {{numberPages}}
      </span><button type="button" class="btn btn-primary w-auto m-1" (click)="increaseNumberPages()">+</button>
    </span>
    <span>
      Nombre d'idiomes <button type="button" class="btn btn-primary w-auto m-1"
        (click)="descreaseNumberLanguages()">-</button> <span>
        {{numberLlanguages}}
      </span><button type="button" class="btn btn-primary w-auto m-1" (click)="increaseNumberLanguages()">+</button>
    </span>
  </div>
</div>